<!--start wrapper-->
<div class="wrapper">
  <!--start top header-->
  <header class="top-header">
    <nav class="navbar navbar-expand" style="z-index: 100;">
      <div class="topbar-logo-header d-none d-xl-flex">
        <div>
          <img
            src="/assets/admin/images/logo-icon.png"
            class="logo-icon"
            alt="logo icon"
          />
        </div>
        <div>
          <h4 class="logo-text">eCommerce</h4>
        </div>
      </div>
      <div class="mobile-toggle-icon d-xl-none">
        <i class="bi bi-list"></i>
      </div>
      <div class="top-navbar d-none d-xl-block ms-3">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">Sản phẩm</a>
          </li>
        </ul>
      </div>
      <div class="search-toggle-icon d-xl-none ms-auto">
        <i class="bi bi-search"></i>
      </div>
      <form class="searchbar d-none d-xl-flex ms-auto">
        <div
          class="position-absolute top-50 translate-middle-y search-icon ms-3"
        >
          <i class="bi bi-search"></i>
        </div>
        <input
          class="form-control"
          type="text"
          placeholder="Nhập để tìm kiếm"
        />
        <div
          class="position-absolute top-50 translate-middle-y d-block d-xl-none search-close-icon"
        >
          <i class="bi bi-x-lg"></i>
        </div>
      </form>
      <div class="top-navbar-right ms-3">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item dropdown dropdown-large">
            <a
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="#"
              data-bs-toggle="dropdown"
            >
              <div class="user-setting d-flex align-items-center gap-1">
                <img
                  src="/assets/admin/images/avatars/avatar-1.png"
                  class="user-img"
                  alt=""
                />
                <div class="user-name d-none d-sm-block">
                  {{authentication.userName}}
                </div>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style="z-index: 100">
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <img
                      src="/assets/admin/images/avatars/avatar-1.png"
                      alt=""
                      class="rounded-circle"
                      width="60"
                      height="60"
                    />
                    <div class="ms-3">
                      <h6 class="mb-0 dropdown-user-name">
                        {{authentication.userName}}
                      </h6>
                      <small
                        class="mb-0 dropdown-user-designation text-secondary"
                        >Chủ cửa hàng</small
                      >
                    </div>
                  </div>
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <div class="setting-icon">
                      <i class="bi bi-person-fill"></i>
                    </div>
                    <div class="setting-text ms-3">
                      <span>Trang cá nhân</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <div class="setting-icon">
                      <i class="bi bi-gear-fill"></i>
                    </div>
                    <div class="setting-text ms-3"><span>Cài đặt</span></div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="d-flex align-items-center">
                    <div class="setting-icon">
                      <i class="bi bi-speedometer"></i>
                    </div>
                    <div class="setting-text ms-3"><span>Tổng quan</span></div>
                  </div>
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#" ng-click="logOut()">
                  <div class="d-flex align-items-center">
                    <div class="setting-icon">
                      <i class="bi bi-lock-fill"></i>
                    </div>
                    <div class="setting-text ms-3"><span>Đăng xuất</span></div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown dropdown-large">
            <a
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="#"
              data-bs-toggle="dropdown"
            >
              <div class="projects">
                <i class="bi bi-grid-3x3-gap-fill"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <div class="row row-cols-3 gx-2">
                <div class="col">
                  <a href="ecommerce-orders.html">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-white bg-primary bg-gradient"
                      >
                        <i class="bi bi-cart-plus-fill"></i>
                      </div>
                      <p class="mb-0 apps-name">Orders</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-white bg-danger bg-gradient"
                      >
                        <i class="bi bi-people-fill"></i>
                      </div>
                      <p class="mb-0 apps-name">Users</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="ecommerce-products-grid.html">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-white bg-success bg-gradient"
                      >
                        <i class="bi bi-bank2"></i>
                      </div>
                      <p class="mb-0 apps-name">Products</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="component-media-object.html">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-white bg-orange bg-gradient"
                      >
                        <i class="bi bi-collection-play-fill"></i>
                      </div>
                      <p class="mb-0 apps-name">Media</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="pages-user-profile.html">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-white bg-purple bg-gradient"
                      >
                        <i class="bi bi-person-circle"></i>
                      </div>
                      <p class="mb-0 apps-name">Account</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-dark bg-info bg-gradient"
                      >
                        <i class="bi bi-file-earmark-text-fill"></i>
                      </div>
                      <p class="mb-0 apps-name">Docs</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="ecommerce-orders-detail.html">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-white bg-pink bg-gradient"
                      >
                        <i class="bi bi-credit-card-fill"></i>
                      </div>
                      <p class="mb-0 apps-name">Payment</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-white bg-bronze bg-gradient"
                      >
                        <i class="bi bi-calendar-check-fill"></i>
                      </div>
                      <p class="mb-0 apps-name">Events</p>
                    </div>
                  </a>
                </div>
                <div class="col">
                  <a href="javascript:;">
                    <div class="apps p-2 radius-10 text-center">
                      <div
                        class="apps-icon-box mb-1 text-dark bg-warning bg-gradient"
                      >
                        <i class="bi bi-book-half"></i>
                      </div>
                      <p class="mb-0 apps-name">Story</p>
                    </div>
                  </a>
                </div>
              </div>
              <!--end row-->
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--end top header-->
  <!--start navigation-->
  <div class="nav-container" style="z-index: 9">
    <div class="mobile-topbar-header">
      <div>
        <img
          src="/assets/admin/images/logo-icon.png"
          class="logo-icon"
          alt="logo icon"
        />
      </div>
      <div>
        <h4 class="logo-text">eCommerce</h4>
      </div>
      <div class="toggle-icon ms-auto">
        <i class="bi bi-chevron-double-left"></i>
      </div>
    </div>
    <nav class="topbar-nav">
      <ul class="metismenu" id="menu">
        <li>
          <a ui-sref="home">
            <div class="parent-icon">
              <i class="bi bi-house-door"></i>
            </div>
            <div class="menu-title">Tổng quan</div>
          </a>
        </li>
        <li>
          <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
              <i class="bi bi-grid"></i>
            </div>
            <div class="menu-title">Hàng hóa</div>
          </a>
          <ul>
            <li>
              <a ui-sref="categories"
                ><i class="bi bi-arrow-right-short"></i>Danh mục sản phẩm</a
              >
            </li>
            <li>
              <a ui-sref="products"
                ><i class="bi bi-arrow-right-short"></i>Sản phẩm</a
              >
            </li>
            <li>
              <a ui-sref="product_add"
                ><i class="bi bi-arrow-right-short"></i>Thêm sản phẩm</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
              <i class="bi bi-grid"></i>
            </div>
            <div class="menu-title">Kho hàng</div>
          </a>
          <ul>
            <li>
              <a ui-sref="purchase_order_add"
                ><i class="bi bi-arrow-right-short"></i>Nhập hàng</a
              >
            </li>
            <li>
              <a ui-sref="purchase_orders"
                ><i class="bi bi-arrow-right-short"></i>Đơn hàng nhập</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;" class="has-arrow">
            <div class="parent-icon">
              <i class="bi bi-grid"></i>
            </div>
            <div class="menu-title">Đơn hàng</div>
          </a>
          <ul>
            <li>
              <a ui-sref="categories"
                ><i class="bi bi-arrow-right-short"></i>Đơn hàng</a
              >
            </li>
            <li>
              <a ui-sref="products"
                ><i class="bi bi-arrow-right-short"></i>Đơn hàng trong ngày</a
              >
            </li>
          </ul>
        </li>
        <li class="">
          <a class="has-arrow" href="javascript:;" aria-expanded="false">
            <div class="parent-icon">
              <i class="bi bi-bookmark-star"></i>
            </div>
            <div class="menu-title">Đối tác</div>
          </a>
          <ul>
            <li>
              <a ui-sref="brands"
                ><i class="bi bi-arrow-right-short"></i>Thương hiệu</a
              >
            </li>
            <li>
              <a  ui-sref="suppliers"
                ><i class="bi bi-arrow-right-short"></i>Nhà cung cấp</a
              >
            </li>
            <li>
              <a  ui-sref="users"
                ><i class="bi bi-arrow-right-short"></i>Khách hàng</a
              >
            </li>
          </ul>
        </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <!--end navigation-->
  <!--start content-->
  <main class="page-content">
    <div ui-view></div>
    <!--Các view con sẽ được render trong cái div này-->
  </main>
  <!--end page main-->
  <!--start overlay-->
  <div class="overlay nav-toggle-icon"></div>
  <!--end overlay-->
  <!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"
    ><i class="bx bxs-up-arrow-alt"></i
  ></a>
  <!--End Back To Top Button-->
</div>
<!--end wrapper-->
<script type="text/javascript" src="/assets/admin/js/app.js"></script>
<script type="text/javascript" src="/assets/admin/js/index.js"></script>
